#send-btn {
    width: 4rem;
    margin: .5rem 0;
    top: .5rem;
    @include tablet {
        top: -.3rem;
    }
    @include phone {
        top: -.4rem;
    }
    position: relative;
    height: 4rem;
    border-radius: 50%;
    background: transparent;
    transition: all .5s;
    border: solid transparent 1px;
    &::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include tablet {
            transform: translate(-50%, -50%) scale(0.8);
        }
        @include phone {
            transform: translate(-50%, -50%) scale(0.65);
        }
        width: 3.2rem;
        height: 3.2rem;
        content: url('./icons/send-arrow-big.png');
    }
    &:focus {
        outline: 0;
    }
    &:hover::before {
        width: 3.2rem;
        height: 3.2rem;
        content: url('./icons/send-arrow-big-color.png');
    }
    &:hover {
        cursor: pointer;
    }
}
