.messageButton {
    width: 4rem;
    margin: .5rem 0;
    position: relative;
    height: 4rem;
    border-radius: 50%;
    background: transparent;
    transition: all .5s;
    border: solid transparent 1px;
    &::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.66);
        @include tablet {
            transform: translate(-50%, -50%) scale(0.44);
        }
        @include phone {
            transform: translate(-50%, -50%) scale(0.22);
        }
        width: 48px;
        height: 48px;
        content: url('./icons/messages-big.png');
    }
    &:focus {
        outline: 0;
    }
    &:hover {
        cursor: pointer;
    }
    &.big {
        &::before {
            transform: translate(-50%, -50%);
            @include tablet {
                transform: translate(-50%, -50%) scale(0.66);
            }
            @include phone {
                transform: translate(-50%, -50%) scale(0.44);
            }
        }
    }
}