.badge {
  width: 3rem;
  float: right;
  display: flex;
  position: relative;
  top: -.5rem;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background: $color-blue;
  color: $color-secondary;
  border-radius: 50%;
  &.small {
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    top: 0;
  }
  &.rookie {
    background: $color-success;
    border-color: $color-success;
  }
  &.medium {
    background: $color-blue;
    border-color: $color-blue;
  }
  &.master {
    background: $color-secondary;
    border-color: $color-secondary;
  }
}