.list {
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;
  .list-el {
    min-width: 10rem;
    min-height: 3rem;
    text-align: center;
    font-size: 1.6rem;
    border: 1px solid grey;
    button {
      float: right;
    }
    &:not(:first-child) {
      border-top: 0;
    }
  }
}

.flex-el {
  display: flex;
  align-items: center;
  justify-content: space-between;
}