.message-container {
  list-style-type: none;
  height: 95%;
  width: 65vw;
  float: right;
  overflow-y: scroll;
  overflow-x: hidden;
  li {
    width: 100%;
    margin-bottom: .8rem;
  }
  .message {
    margin: .2rem .2rem;
    border-radius: .5rem;
    white-space: pre-wrap;
    text-align: center;
    font-size: 1.6rem;
    &.left {
      float: left;
      background: $color-secondary;
      color: white;
    }
    &.right {
      float: right;
      background: $color-blue;
      color: white;
    }
  }
}