$color-primary: #d1d5de;
$color-secondary: #FFD966;
$color-tertiary: #837569;
$color-base: #90a959;
$color-success: #8FC93A;
$color-blue: #2E75B6;
$color-red: #EB5E55;
$color-white: #FBFEF9;
$color-black: rgb(29, 29, 29);
$color-disabled: rgb(196, 196, 196);
$color-base-secondary: #657153;
$border-primary: #a19f9fd7;
$border-default: rgba(187, 187, 187, 0.9);
$input-outline-primary: rgb(92, 167, 253);
$font-default: rgb(145, 143, 143);

$fluid-min-height: 30vh;
$container-height: 20rem;

$default-margin: .8rem;
